mat-sidenav {
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 15%;
  position: fixed;
  overflow-x: none;
}

.sticky {
  position: fixed;

  top: 0;

  width: 100%;

  z-index: 10;
}

/* @media only screen and (max-width: 800px) {
  .red {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .img {
    height: 25px;
    width: 25px;
  }
} */
@media only screen and (max-width: 360px) {
  .red {
    display: none;
  }
  .img {
    margin-top: 100%;
    height: 150%;
  }
  .mat {
    padding-left: 10%;
  }
}
