<app-toolbar class="sticky"></app-toolbar>
<br />
<br />
<mat-sidenav-container>
  <mat-sidenav
    class="stickyy"
    mode="side"
    [(opened)]="opened"
    [fixedInViewport]="true"
  >
    <mat-list style="margin-top: 40%">
      <!-- <div class="row"> -->
      <div>
        <mat-list-item
          class="mat"
          style="height: 50%; width: auto; padding-left: 20%; padding-top: 10px"
        >
          <button
            routerLink="/dash"
            style="border: 0px; background-color: white"
          >
            <mat-icon class="img"> line_style</mat-icon>

            <p class="red" style="font-size: 80%">DashBoard</p>
          </button>
        </mat-list-item>
        <!-- </div> -->

        <!-- <div class="row"> -->
        <mat-list-item class="mat" style="height: 50%; padding-left: 20%">
          <button
            routerLink="/form"
            style="border: 0px; background-color: white"
          >
            <mat-icon class="img">desktop_indows</mat-icon>

            <p class="red" style="font-size: 80%">Receivables</p>
          </button>
        </mat-list-item>

        <!-- </div> -->

        <!-- <div class="row"> -->
        <mat-list-item class="mat" style="height: 50%; padding-left: 25%">
          <button style="border: 0px; background-color: white">
            <mat-icon class="img">perm_data_setting</mat-icon>
            <br />
            <p class="red" style="font-size: 80%">Payables</p>
          </button>
        </mat-list-item>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <mat-list-item class="mat" style="height: 50%; padding-left: 25%">
          <button style="border: 0px; background-color: white">
            <mat-icon class="img">build</mat-icon>
            <br />
            <p class="red" style="font-size: 80%">Settings</p>
          </button>
        </mat-list-item>
        <!-- </div> -->
        <!-- <div class="row"> -->
        <mat-list-item class="mat" style="height: 50%; padding-left: 25%">
          <button style="border: 0px; background-color: white">
            <mat-icon class="img">report_problem</mat-icon>
            <br />
            <p class="red" style="font-size: 80%">Problem</p>
          </button>
        </mat-list-item>
        <!-- </div> -->
      </div>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="container-md" style="margin-top: 4%">
      <div class="row">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
