<div class="col-md-4 offset-md-4">
  <h2>Create problem</h2>

  <form [formGroup]="reactiveForms" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label><b>Insurance Company</b></label>

      <input
        type="text"
        formControlName="company"
        class="form-control"
        id="insurance"
      />
    </div>

    <div class="form-group">
      <label><b>File</b></label>

      <input type="number" class="form-control" formControlName="file" />
    </div>

    <div class="form-group">
      <label><b>time</b></label>

      <input type="number" class="form-control" formControlName="time" />
    </div>

    <div>
      <button class="btn btn-success my-3" type="submit">Submit</button>
    </div>
  </form>
</div>
