<br />
<br />

<div class="row">
  <div class="row">
    <div class="card shadow" style="border-radius: 0px">
      <div class="card-body">
        <P>
          <b style="font-size: 20px">
            Recently Recovery Letter and Claim letter </b
          ><i class="bi bi-arrow-right" style="float: right"></i
        ></P>
      </div>
    </div>
  </div>

  <div class="row">
    <div
      class="card shadow col-md-4 col-xs-12 col-12"
      style="border-radius: 0px"
    >
      <div class="card-body table-responsive">
        <table class="table table-hover">
          <thead style="background-color: #ced4da">
            <tr>
              <th>Insurance Company</th>

              <th>
                <i class="bi bi-file-text"></i>
              </th>

              <th>
                <i class="bi bi-clock"></i>
              </th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{ thirdbody.company }}</td>

              <td>{{ thirdbody.file }}</td>

              <td>{{ thirdbody.time }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-8 col-xs-12 col-12" style="padding: 0% 0.5%">
      <button
        class="btn btn-outline-secondary rounded-pill ho"
        style="margin: 5px 15px; padding: 0px 10px; text-align: center"
      >
        RecoveryLetter
      </button>

      <button
        class="btn btn-outline-secondary rounded-pill ho"
        style="padding: 0px 10px; text-align: center"
      >
        ClaimNotification
      </button>

      <div class="card shadow" style="border-radius: 0px">
        <div class="card-body table-responsive">
          <table class="table table-hover">
            <thead style="background-color: #ced4da">
              <tr>
                <th>Claims#</th>

                <th>Repoted Date</th>

                <th>Status</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let thbody of secondtable">
                <td>{{ thbody.claims }} <i class="bi bi-info-circle"></i></td>

                <td>{{ thbody.reported }}</td>

                <td>{{ thbody.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
