<mat-card>
  <div style="display: inline-flex">
    <mat-card-header
      style="
        font-size: 15px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
      "
      >Claims Status</mat-card-header
    >
    <div style="margin-right: 3px; margin-left: auto; padding-top: 7px">
      <div class="form-check form-switch" style="float: right">
        <label
          for="flexSwitchCheckDefault"
          style="text-align: right; float: left; margin-right: 50px"
          ><B> Claim Count :</B>
        </label>

        Amount(in BHD)

        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckDefault"
        />
      </div>
      <!-- <mat-slide-toggle color="primary" class="mat-slide-toggle-bar">
        </mat-slide-toggle> -->
      <!-- 
          <label class="toggle" for="myToggle">
          <input class="toggle__input" name="" type="checkbox" id="myToggle" />
          <div class="toggle__fill"></div>
        </label> -->
    </div>
  </div>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row">
      <div class="col-sm-3">
        <div style="display: flex">
          <div class="col-6">
            <img
              class="
                
                "
              src="https://cdn-icons-png.flaticon.com/512/8215/8215539.png"
              alt="check"
              style="width: 50px; height: auto; padding-top: 15px"
            />
          </div>
          <div class="col-6">
            <mat-card-content
              class="num"
              style="font-size: 20px; justify-content: flex-end"
              >{{ rise }}</mat-card-content
            >
            <mat-card-subtitle class="foot">CLAIMS APPROVED</mat-card-subtitle>
          </div>
          <div>
            <mat-divider vertical style="height: 100px"></mat-divider>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div style="display: flex">
          <div class="col-6">
            <img
              class="img"
              src="https://cdn-icons-png.flaticon.com/512/1716/1716746.png"
              alt="check"
            />
          </div>
          <div class="col-6">
            <mat-card-content
              class="num"
              style="font-size: 20px; justify-content: flex-end"
              >{{ low }}</mat-card-content
            >
            <mat-card-subtitle class="foot"
              >CLAIMS IN PROGRESS</mat-card-subtitle
            >
          </div>
          <div>
            <mat-divider vertical style="height: 100px"></mat-divider>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div style="display: flex">
          <div class="col-6">
            <img
              class="img"
              src="https://cdn-icons-png.flaticon.com/512/3389/3389152.png"
              alt="check"
            />
          </div>
          <div class="col-6">
            <mat-card-content
              class="num"
              style="font-size: 20px; justify-content: flex-end"
              >0</mat-card-content
            >
            <mat-card-subtitle class="foot">CLAIMS REJECTED</mat-card-subtitle>
          </div>

          <div>
            <mat-divider vertical style="height: 100px"></mat-divider>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div style="display: flex">
          <div class="col-6">
            <img
              class="img"
              src="https://cdn-icons-png.flaticon.com/512/9195/9195740.png"
              alt="check"
              style="width: 60px; padding-top: 8px"
            />
          </div>
          <div class="col-6">
            <mat-card-content
              class="num"
              style="font-size: 20px; justify-content: flex-end"
              >5</mat-card-content
            >
            <mat-card-subtitle class="foot">OPEN CLAIMS</mat-card-subtitle>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
