.vertical {
  border-right: 1px solid rgb(243, 15, 15);

  height: auto;
}
.green {
  color: green;
  height: 50%;
  width: 50%;
}
.img {
  width: 50px;
  height: auto;
  padding-top: 15px;
}

.foot {
  font-size: 12px;
  padding-top: 20px;
  font-weight: bold;
}
.num {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
/* .mat-divider-vertical {
  height: 100%;
  width: 0px !important;
  position: inherit !important;
} */
.toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  display: inline-block;
  cursor: pointer;
}

.toggle__input {
  display: none;
}

.toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: rgb(44, 245, 71);
  transition: background 0.2s;
}

.toggle__input:checked ~ .toggle__fill {
  background: brown;
}

.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 100px;
  transition: transform 0.2s;
  background-color: green;
}

.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
  background-color: red;
}
