<div style="padding-top: 20px">
  <div class="row" style="display: flex">
    <div class="col-md-5">
      <mat-card style="height: 100%">
        <mat-card-header
          style="
            font-weight: bold;
            font-family: Arial, Helvetica, sans-serif;
            padding-bottom: 10px;
          "
          >Top Recovery</mat-card-header
        >
        <mat-divider style="padding-bottom: 30px"></mat-divider>
        <div style="padding: 20px">
          <canvas id="piechart"></canvas>
        </div>
      </mat-card>
    </div>

    <div class="col-md-7">
      <mat-card style="height: 100%; width: 100%">
        <div class="row" style="display: flex; align-items: center">
          <div
            class="col-4"
            style="text-align: start; font-weight: bold; padding-left: 30px"
          >
            Ageing
          </div>
          <div class="col-4" style="text-align: center">
            <span
              ><select
                style="
                  width: 60%;
                  border: 0px;
                  border-bottom: 1px solid black;
                  font-weight: bold;
                "
              >
                <option>All</option>
              </select></span
            >
          </div>
          <div
            class="col-4"
            style="font-weight: bold; text-align: center; display: flex"
          >
            <div>
              <p style="padding-top: 15px; padding-left: 40px">Export Excel</p>
            </div>
            <div>
              <button
                style="transform: scale(0.9)"
                mat-icon-button
                color="primary"
                aria-label="Example icon button with a home icon"
              >
                <mat-icon>download</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <mat-divider></mat-divider>

        <div class="table-responsive" style="height: 100%; width: 100%">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="name">
              <th
                mat-header-cell
                *matHeaderCellDef
                style="background-color: rgb(247, 233, 247)"
              >
                Insurance Company
              </th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="weight">
              <th
                style="background-color: rgb(247, 233, 247)"
                mat-header-cell
                *matHeaderCellDef
              >
                >30 Days
              </th>
              <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
            </ng-container>

            <ng-container matColumnDef="symbol">
              <th
                style="background-color: rgb(247, 233, 247)"
                mat-header-cell
                *matHeaderCellDef
              >
                30 Days
              </th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <ng-container matColumnDef="vijay">
              <th
                style="background-color: rgb(247, 233, 247)"
                mat-header-cell
                *matHeaderCellDef
              >
                15 Days
              </th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <ng-container matColumnDef="ajith">
              <th
                style="background-color: rgb(247, 233, 247)"
                mat-header-cell
                *matHeaderCellDef
              >
                7 Days
              </th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <ng-container matColumnDef="surya">
              <th
                style="background-color: rgb(247, 233, 247)"
                mat-header-cell
                *matHeaderCellDef
              >
                4 Days
              </th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <ng-container matColumnDef="rajini">
              <th
                style="background-color: rgb(247, 233, 247)"
                mat-header-cell
                *matHeaderCellDef
              >
                4 Days
              </th>
              <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-card>
    </div>
  </div>
</div>
