<mat-toolbar style="background-color: white">
  <span
    ><img
      style="height: 80px; width: auto"
      src="https://arabiaportals.arabiainsurance.com/CSPortal/assets/common/images/arabia_logo.png"
      alt="check image"
  /></span>
  <div
    style="
      justify-content: space-between;
      margin-left: auto;
      margin-right: 0px;
      background-color: white;
    "
  >
    <span
      ><button
        mat-mini-fab
        color="primary"
        aria-label="Example icon button with a filter list icon"
      >
        <mat-icon>question_mark</mat-icon>
      </button></span
    >
    <span
      ><button
        mat-icon-button
        aria-label="Example icon button with a search icon"
      >
        <mat-icon>search</mat-icon>
      </button></span
    >
    <span>
      <button
        mat-icon-button
        aria-label="Example icon button with a notification icon"
      >
        <mat-icon
          ><span class="material-icons">notifications-none</span></mat-icon
        >
      </button>
    </span>
    <span>
      <mat-form-field appearance="fill" style="background-color: white">
        <mat-label
          ><span><mat-icon>translate</mat-icon> </span>Language</mat-label
        >
        <mat-select>
          <mat-option *ngFor="let lang of language" [value]="lang.value">
            {{ lang.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span>
      <mat-form-field appearance="fill">
        <mat-label
          ><span><mat-icon>work</mat-icon> </span>Role</mat-label
        >
        <mat-select>
          <mat-option *ngFor="let adm of admin" [value]="adm.value">
            {{ adm.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </span>
    <span style="padding-left: 10px">
      <button
        mat-mini-fab
        color="accent"
        aria-label="Example icon button with a person icon"
      >
        <mat-icon>person</mat-icon>
      </button>
    </span>
  </div>
</mat-toolbar>
